@use "../abstract/mixins" as *;
.counter {
  display: block;
  width: 100%;
  padding: var(--spacing-110) 0px;
  &-info {
    p {
      margin-top: var(--spacing-24);
    }
  }
  &-wrapper {
    margin-top: var(--spacing-32);
  }
  .item {
    @include flexBox(column, center, center);
    margin-bottom: 20px;
    text-align: center;
    .title {
      @include flexBox;

      span {
        margin-bottom: -1px;
      }
    }
    .desc {
    }
  }
}
