@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

:root {
  --spacing-110: 40px;
  --spacing-80: 20px;
  --spacing-64: 64px;
  --spacing-50: 25px;
  --spacing-32: 16px;
  --spacing-24: 12px;
  --spacing-15: 15px;

  --3xl-font-size: 30px;
  --2xl-font-size: 28px;
  --p-leading: 27px;

  --2xl-leading: 40px;
  --xl-leading: 35px;

  --xs-font-size: 16px;

  --header-height: 65px;

  @include respond-up(sm) {
    --container-width: 540px;
  }

  @include respond-up(md) {
    --container-width: 720px;
    --3xl-font-size: 35px;
    --2xl-leading: 50px;
  }
  @include respond-up(lg) {
    --container-width: 960px;
  }
  @include respond-up(xl) {
    --3xl-font-size: 56px;
    --2xl-font-size: 48px;
    --xl-font-size: 40px;
    --lg-font-size: 24px;
    --md-font-size: 20px;
    --sm-font-size: 18px;
    --xs-font-size: 16px;
    --2xs-sm-font: 14px;

    --p-font-size: 18px;

    --2xl-leading: 67.2px;
    --xl-leading: 57.6px;
    --lg-leading: 28px;
    --md-leading: 24px;

    --p-leading: 27px;

    --spacing-110: 110px;
    --spacing-80: 80px;
    --spacing-64: 64px;
    --spacing-50: 50px;
    --spacing-32: 32px;
    --spacing-24: 24px;
    --spacing-15: 15px;

    --container-width: 1140px;
  }
  @include respond-up(xxl) {
    --container-width: 1320px;
  }
}

*,
*::before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: inherit;
}
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
main,
section,
footer {
  width: 100%;
  display: block;
}

html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
